$color-almost-black: #333;
$color-gray-medium: #888;
$color-gray-light: #ccc;

$color-site-primary: green;
$color-site-secondary: orange;

$width-extra-wide: 1280px;
$width-wide: 1024px;
$width-narrow: 640px;
